<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
</head>
<body>
    <div class="field-set">
        <input type="text" name="nom" id="nom" class="form-control" placeholder="Nom" />
    </div>
    <div class="field-set">
        <input type="password" name="mot_de_passe" id="mot_de_passe" class="form-control" placeholder="Mot de passe" />
    </div>
    <div id="submit">
        <input type="submit" id="send_message" value="Se connecter" class="btn-main btn-fullwidth rounded-3" />
    </div>
</body>
</html>