<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
</head>
<body style="background-color: #000000; text-align: center;">
    <div>
        <header>
            <hr>
            <h1 style="font-size: x-large; color: antiquewhite;">
                FORMULAIRE D'INSCRIPTION
            </h1>
            <hr>
        </header>
    </div>
    <!-- ------------------------- -->
    <div>
        <form method="POST" action="/inscription">
            <!-- Message d'erreur Bootstrap (décommenté si nécessaire) -->
            <!-- 
            <div class="alert alert-danger" role="alert">
                Une ou plusieurs informations sont manquantes.
            </div> 
            -->

            <div class="col-md-6">
                <div class="field-set">
                    <label style="color:antiquewhite;">Nom d'utilisateur</label>
                    <input type="text" id="username" name="username" classe="form-control" required>
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="field-set">
                    <label style="color:antiquewhite;">Adresse Email</label>
                    <input type="email" id="email" name="email" classe="form-control" required>
                </div>
            </div>

            <div class="col-md-6"><div class="field-set">
                <label style="color:antiquewhite;">Mot de passe :</label>
                <input type="password" id="password" name="password" classe="form-control" required>
            </div></div>

            <div class="col-md-6">
                <div class="field-set">
                    <label style="color:antiquewhite;">Confirmation de mot de passe :</label>
                    <input type="password" id="password_confirm" name="password_confirm" classe="form-control" required>
                </div>
            </div>
        
            <button type="submit">S'inscrire</button>
        </form>
    </div>
    
</body>
</html>